
    .header-img{
        height:100px;
    }

    .navigation{
        background-image: linear-gradient(to right,#000046,#1CB5E0);
        width: 100%;
    }
   
    .navigation div a {
        color: white;
    }

    .navigation div a:hover{
        background-color: #000099;
        border-radius: 5px;
    }
    
    .active {
        background-color: #000099;
        border-radius: 5px;
    }
    footer 
    {
      text-align: center;
      padding: 5px;
      background-image: linear-gradient(to right,#000046,#1CB5E0);
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
